<div class="comment-block">
  <div class="comment clearfix">
    <div class="comment_content"><!--Content -->
      <p class="comment_name"><%= image_tag "logo.png", width: '30px', height: '30px', style: 'margin-right: 5px' %><%= comment.name %>
      <p class="comment-single">
        <% from_reply_form ||= nil %>
        <% unless from_reply_form %>
        <%= link_to 'View single comment', post_comment_path(@post, comment) %>
      <% end %>
      </p>
      <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
    </div>
  </div>

  <div class="comment_body"><%= markdown(comment.body).html_safe %><!-- Body Comment -->
    <% if logged_in? && current_user.admin? %>
    <p class="comment"><%= link_to 'Delete', [comment.post, comment],
                  method: :delete,
                  class: "button",
                  data: { confirm: 'Are you sure?' } %>
    </p>
    <% end %>
  </div>
</div>
