  <div class="comment-block">
            <div class="comment clearfix">
              <div class="comment_content"><!--Content -->
              <% if logged_in? && current_user %>
                <p class="comment_name"><%= image_tag "logo.png", width: '30px', height: '30px', style: 'margin-right: 5px' %>
                <%# comment.name %>
                <%= link_to comment.name, autor_path(comment.parent_id) %>
              <% else %>
                <p class="comment_name"><%= image_tag "logo.png", width: '30px', height: '30px', style: 'margin-right: 5px' %><%= comment.name %>
              <% end %>
                <p class="comment-single">
                <% from_reply_form ||= nil %>
                <% unless from_reply_form %>
                  <%= link_to 'View single comment', post_comment_path(@post, comment) %>
                <% end %>
                </p>
                <p class="reply-comment"><%= link_to 'Reply', new_post_comment_comment_path(@post, comment) %></p>
              <% if logged_in? && current_user.admin? || current_user %>
                <p class="edit-comment">
                  <%= link_to edit_post_comment_path(@post, comment) do %>
                    <span class="glyphicon glyphicon-pencil"></span>
                  <% end %>
            </p>
              <% end %>
                <p class="comment_time"><%= time_ago_in_words(comment.created_at) %> Ago</p>
                <%# l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %> <!--Comment Date: 23 december, 21:36:33-->
      </div>
    </div>
    <div class="comment_body"><%= markdown(comment.body) %><!-- Body Comment -->
      <% unless comment.comments.empty? %>
      <ul class="comment_list">
        <%= render :partial => 'comments/comment_comments', :collection => comment.comments, :as => :comment %>
      </ul>
    <% end %>
    </div>
    <% if logged_in? && current_user.admin? %>
      <p class="comment"><%= link_to 'Delete', post_comment_path(@post, comment),
                    method: :delete,
                    class: "button",
                    data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
