<div class="comment-block-reply">
  <div class="comment clearfix">
    <div class="comment-content-reply"><!--Content -->
      <p class="comment-name-reply"><%= image_tag "logo.png", width: '20px', height: '20px', style: 'margin-right: 5px' %><%= comment.name %>
      
      <p class="comment-time-reply">commented on <%= l(comment.created_at, format: '%d %B %Y') %></p>
      <!--<p><%# l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %></p> Comment Date: 23 december, 21:36:33-->
      <% if is_an_admin? || logged_in? && comment.name == current_user.name %>
        <p class="edit-comment-reply"><%= link_to 'Edit', edit_post_comment_comment_path(@post, comment, comment.id) %></p>
      <% end %>
      <% if comment.name == @post.user.name %>
        <p class="author-comment-reply">Owner</p>
      <% end %>
    </div>
  </div>

  <div class="comment-body-reply"><%= comment.content %><!-- Body Comment -->
  </div>
  <% if logged_in? && current_user.admin? %>
    <p class="comment-reply"><%= link_to 'x', post_comment_comment_path(@post, comment, comment.id),
                  method: :delete,
                  class: "button-reply",
                  data: { confirm: 'Are you sure?' } %>
    </p>
  <% end %>
</div>

