  <% if comment.parent_id %>
      <%= link_to autor_path(comment.parent_id) do %>
        <p class="comment-logo"><%= image_tag "logo.png", width: '48px', height: '48px', alt: 'Avatar ' + comment.name %></p>
      <% end %>
    <% else %>
      <p class="comment-logo"><%= image_tag "logo.png", width: '48px', height: '48px', alt: 'Avatar ' + comment.name %></p>
  <% end %>
              
  <div class="comment-block">
      <div class="comment-wrap-info"><!--Content -->
        <p class="comment-single"><!-- Comment Single -->
          <% from_reply_form ||= nil %>
          <% unless from_reply_form %>
            <%= link_to '#'+comment.id.to_s, post_comment_path(@post, comment) %>
          <% end %>
        </p>
        <% if comment.parent_id %><!-- Comment Name -->
          <%= link_to comment.name, autor_path(comment.parent_id) %>
        <% else %>
          <%= comment.name %>
        <% end %>
         <p class="comment-time">commented on <%= l(comment.created_at, format: '%d %B %Y') %></p><!-- Comment Time -->
        <%# l(comment.created_at, format: '%B, %d %Y %H:%M:%S') %> <!--Comment Date: 23 december, 21:36:33-->
        <p class="reply-comment"><%= link_to 'Reply', new_post_comment_comment_path(@post, comment) %></p> <!-- Comment Reply -->
        <% if is_an_admin? || logged_in? && comment.name == current_user.name %><!-- Comment Edit -->
          | <p class="edit-comment"><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></p>
        <% end %>
        <% if comment.name == @post.user.name %>
          <p class="author-comment">Owner</p>
        <% end %>
      </div>

    <div class="comment-body"><%= comment.content %><!-- Body Comment -->
      <% unless comment.comments.empty? %>
      <ul class="comment-list">
        <%= render :partial => 'comments/comment_comments', :collection => comment.comments, :as => :comment %>
      </ul>
    <% end %>
    </div>
    <% if logged_in? && current_user.admin? %>
      <p class="comment-delete"><%= link_to 'Delete', post_comment_path(@post, comment),
                    method: :delete,
                    class: "button-delete",
                    data: { confirm: 'Are you sure?' } %>
      </p>
    <% end %>
  </div>
