<h1>New reply comment: </h1>
<%= form_for [@post, @parent, @comment] do |f| %>
  <div class="label-name"><%= f.label 'Your Name' %></div>
  <div class="text-name"><%= f.text_field :name, autofocus: true %></div>
  <div class="label-body"><%= f.label :body %></div>
  <div class="text-body"><%= f.text_area :body %></div>
  <div><%= show_simple_captcha %><br /></div>
  <%= f.submit %>
<% end %>
