<%= link_to 'Back to Post', post_path(@comment.post) %>
<h1>New reply comment: </h1>
<%= render 'comments/reply_comment' %>

<%= form_for [@post, @parent, @comment] do |f| %>
  <% if logged_in? && current_user %>
    <%= f.hidden_field :name, :value => current_user.name %>
    <%= f.hidden_field :parent_id, :value => @post.id %>
    <div class="label-body"><%= f.label 'Message' %></div>
    <div class="text-body"><%= f.text_area :body, placeholder: 'Minimum 6 characters' %></div>
    <%= f.submit %>
    <% else %>
    <div class="label-name"><%= f.label 'Your Name' %></div>
    <div class="text-name"><%= f.text_field :name, autofocus: true %></div>
    <div class="label-body"><%= f.label :body %></div>
    <div class="text-body"><%= f.text_area :body %></div>
    <%= show_simple_captcha %><br />
    <%= f.submit %>
  <% end %>
<% end %>
