<% if logged_in? && current_user.admin? %>
<%= form_for @post do |f| %>
  <% if @post.errors.any? %>
    <div id="errors">
      <h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving:</h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.label :title %><br>
  <%= f.text_field :title, autofocus: 'autofocus' %><br>
  <br>
  <%= f.label :body %><br>
  <%= f.text_area(:body, class: 'bg-code') %><br>
  <%= f.label 'Tags (maximum 5)' %><br>
  <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %><br>
  <div style="float: left; margin-right: 10px"><p><%= f.label :categories %><br>
  <%= f.select :categories, [ 'The Void', 'HTML + CSS', 'Javascript', 'Ruby' ], :prompt => 'Select One' %>
  </p></div>
  <%= f.label 'Featured Post?' %><br />
  <%= f.select :featured_post, [ 'no', 'yes' ], :default => 'no' %><br />
  <br>
  <%= f.submit %>
<% end %>
<% else %>
<h1>ADMIN HAS DISABLED TEMPORARILY THIS FEATURE!!</h1>
<% end %>
