    <% @posts_featured.each do |post| %>
    <article>
    <% if post.categories == 'HTML + CSS' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), html_css_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Javascript' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), javascript_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Ruby' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), ruby_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'The Void' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), void_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    <% end %>
    
    <% @posts_unfeatured.each do |post| %>
    <article>
    <% if post.categories == 'HTML + CSS' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), html_css_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Javascript' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), javascript_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Ruby' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), ruby_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'The Void' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to highlight(post.title, params[:search]), void_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %> <span> - tags: <%= raw tag_links(post.all_tags) %></span></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    <% end %>
    
    
    <!--<div class="tags-cloud glassy-bg">
      <h4>Tags Cloud</h4>
      <%# tag_cloud Tag.counts, %w{css1 css2 css3 css4} do |tag, css_class| %>
        <%# link_to tag.name, tag_path(tag.name), class: css_class %>
      <%# end %>
    </div>-->
