    <% @posts_featured.each do |post| %>
    <article>
    <% if post.categories == 'HTML + CSS' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to post.title, html_css_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Javascript' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to post.title, javascript_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Ruby' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to post.title, ruby_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'The Void' %>
      <div class="post_wrapper <% if post.featured_post == 'yes' %>featured-post<% end %>">
        <header><h2 class="title"><%= link_to post.title, void_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    <% end %>
    
    <% @posts_unfeatured.each do |post| %>
    <article>
    <% if post.categories == 'HTML + CSS' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to post.title, html_css_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Javascript' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to post.title, javascript_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'Ruby' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to post.title, ruby_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    
    <article>
      <% if post.categories == 'The Void' %>
      <div class="post_wrapper">
        <header><h2 class="title"><%= link_to post.title, void_show_path(post) %></h2></header>
        <p class="date"><%= post.created_at.strftime("%B %d, %Y") %></p>
        <p class="category-show">
          Category: <strong><%= post.categories %></strong>
        </p>
      </div>
      <% end %>
    </article>
    <% end %>
