<% if activity.trackable %>
  <% if activity.trackable.parent_id != current_user.id %>
    <%# activity.trackable.parent_id %>
    <%# activity.trackable.commentable_id %>
    <%# activity.inspect %>
    <span class="activity-time">
      <%= time_ago_in_words(activity.created_at) %> ago
    </span>
    <%= link_to activity.owner.name, activity.owner if activity.owner %> made a 
    <%= link_to 'reply', comment_reply_reply_path(activity.trackable.parent_id.to_i, activity.trackable.commentable_id, activity.trackable.id) %> to this
    <%= link_to 'comment', comment_reply_path(activity.trackable.parent_id.to_i, activity.trackable.commentable_id) %> on this
    <%= link_to 'post', comment_post_path(activity.trackable.parent_id.to_i) %>
  <% else %>
    <span class="activity-time">
      <%= time_ago_in_words(activity.trackable.created_at) %> ago
    </span>
    <%= link_to activity.owner.name, activity.owner if activity.owner %> added a
    <%= link_to 'comment', comment_reply_path(activity.trackable.commentable_id, activity.trackable_id) %> on a
    <%= link_to 'post', comment_post_path(activity.trackable.commentable_id) %>
  <% end %>
<% else %>
  <%= link_to activity.owner.name, activity.owner if activity.owner %> - comment which has since been removed
<% end %>