  <aside id="sidebar" role="main-menu">
    <div id="logo">
      <%= link_to root_path do %><%= image_tag "logo.png", width: '100px', height: '100px' %><% end %>
    </div>
    <nav class="sidebar-menu">
      <ul>
        <li class="category"><%= link_to 'Home', root_path %></li>
        <% if current_page?(root_url) %>
        <li><%= link_to 'All Posts', root_path, class: 'active-sb' %></li>
        <% else %>
        <li><%= link_to 'All Posts', root_path %></li>
        <% end %>
        <% if logged_in? %>
        <% if current_page?(user_path(current_user)) %>
        <li><%= link_to "Profile", current_user, class: 'active-sb' %></li>
        <% else %>
        <li><%= link_to "Profile", current_user %></li>
        <% end %>
        <% if current_page?(edit_user_path(current_user)) %>
        <li><%= link_to "Settings", edit_user_path(current_user), class: 'active-sb' %></li>
        <% else %>
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <% end %>
        <% end %>
        <% if current_page?(about_url) %>
        <li><%= link_to "About Me", about_path, class: 'active-sb' %></li>
        <% else %>
        <li><%= link_to "About Me", about_path %></li>
        <% end %>
        <% if current_page?(activities_path) %>
        <li><%= link_to "Live!", activities_path, class: 'active-sb' %></li>
        <% else %>
        <li><%= link_to "Live!", activities_path %></li>
        <% end %>
      </ul>
      <ul class="items-iphone6">
        <li class="category">Categories</li>
        <% if current_page?(html_css_path) %>
        <li><%= link_to 'HTML+CSS', html_css_path, class: 'active-html' %></li>
        <% else %>
        <li><%= link_to 'HTML+CSS', html_css_path, class: 'noactive-html' %></li>
        <% end %>

        <% if current_page?(javascript_path) %>
        <li><%= link_to 'Javascript', javascript_path, class: 'active-js' %></li>
        <% else %>
        <li><%= link_to 'Javascript', javascript_path, class: 'noactive-js' %></li>
        <% end %>

        <% if current_page?(ruby_path) %>
        <li><%= link_to 'Ruby', ruby_path, class: 'active-ruby' %></li>
        <% else %>
        <li><%= link_to 'Ruby', ruby_path, class: 'noactive-ruby' %></li>
        <% end %>

        <% if current_page?(void_path) %>
        <li><%= link_to 'Void', void_path, class: 'active-void' %></li>
        <% else %>
        <li><%= link_to 'Void', void_path, class: 'noactive-void' %></li>
        <% end %>
      </ul>
      <ul>
        <li class="category">Social</li>
        <li><a href="https://twitter.com/smironescu" target="_blank">Twitter</a></li>
        <li><a href="https://github.com/xexiu" target="_blank">Github</a></li>
        <li><a href="https://es.linkedin.com/in/smironescu/" target="_blank">LinkedIn</a></li>
        <li><a href="mailto:sergiu.mironescu@gmail.com" target="_blank">Email Me</a></li>
      </ul>
    </nav>
    <div class="copyright">&copy Copyright <%= Time.now.year %></div>
  </aside>
