<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="description" content="<%= meta_description %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png"> -->
  <!-- For iPhone with high-resolution Retina display: -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png"> -->
  <!-- For first- and second-generation iPad: -->
  <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png"> -->
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-precomposed.png"> -->
  <link rel="canonical" href="<%= request.original_url %>">
  <%= render 'layouts/ie9_fix' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>
  <main id="main_content">
    <div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <%= javascript_include_tag 'custom', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'google_analytics', 'data-turbolinks-track' => false %>
</body>

