<!DOCTYPE html>
<html>
<head>
  <title><%= base_title(yield(:title)) %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="description" content="<%= meta_description %>">
  <meta name="Keywords" content="<%= meta_keywords %>">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="canonical" href="<%= request.original_url %>">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'layouts/sidebar' %>
  <main id="main_content">
    <div class="wrapper">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
    </div>
  </main>
  <%= javascript_include_tag 'custom', 'data-turbolinks-track' => false %>
</body>

